<footer class="bg-white shadow dark:bg-gray-800 mt-auto">
  <div class="w-full mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        routerLink="/"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <img [src]="iconUrl" class="h-8" alt="Quick Space Logo" />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Quick Space</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-700 dark:text-gray-400"
      >
        <li>
          <a
            href="https://farhanhl.vercel.app"
            target="_blank"
            class="hover:underline me-4 md:me-6"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/farhanhl"
            target="_blank"
            class="hover:underline me-4 md:me-6"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="mailto:farhanhldev@gmail.com" class="hover:underline"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-700 sm:text-center dark:text-gray-400"
      >© 2024 Made with 🔥 by Farhan Hadi Lutfi</span
    >
  </div>
</footer>
