<div
  class="p-6 bg-gray-800 border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700 mb-4"
>
  <div class="flex justify-between items-start mb-4">
    <h5 class="text-3xl font-bold text-white dark:text-gray-800">
      Project Meeting
    </h5>
    <div class="text-right">
      <p class="text-sm font-normal text-gray-300 dark:text-gray-800">
        November 15, 2024
      </p>
      <p class="text-sm font-normal text-gray-300 dark:text-gray-800">
        10:00 - 12:00
      </p>
    </div>
  </div>
  <p class="mb-1 font-normal text-gray-300 dark:text-gray-800">
    Room: Meeting Room A
  </p>
  <p class="mb-3 font-normal text-gray-300 dark:text-gray-800">
    Booked by: Farhan Hadi Lutfi
  </p>
</div>
