<div
  class="p-6 bg-gray-800 border border-gray-200 rounded-lg shadow dark:bg-white dark:border-gray-700 mb-4"
>
  <div class="flex justify-between items-start mb-4">
    <h5 class="text-3xl font-bold text-white dark:text-gray-800">
      {{ agenda }}
    </h5>
    <div class="text-right">
      <p class="text-sm font-normal text-gray-300 dark:text-gray-800">
        {{ date }}
      </p>
      <p class="text-sm font-normal text-gray-300 dark:text-gray-800">
        {{ from }} - {{ to }}
      </p>
    </div>
  </div>
  <p class="mb-1 font-normal text-gray-300 dark:text-gray-800">
    Room: {{ room }}
  </p>
  <p class="mb-3 font-normal text-gray-300 dark:text-gray-800">
    Booked by: {{ pic }}
  </p>
</div>
